*
!*/

# Allowed top-level files:
!.clang-format
!.clang-tidy
!.gitignore
!CMakeLists.txt
!codecov.yaml
!CONTRIBUTING.md
!Dockerfile
!LICENSE
!Makefile
!PULL_REQUEST_TEMPLATE.md
!README.md

# .github directory:
!.github/**/*.yml
!.github/**/*.yaml
!.github/**/*.md

# cmake directory:
!cmake/**/*.in
!cmake/**/*.cmake

# doc directory:
!doc/**/Doxyfile.in
!doc/**/*.txt
!doc/**/*.css
!doc/**/*.html
!doc/**/*.xml
!doc/**/*.md

# include directory:
!include/**/*.hpp
!include/**/*.h
!include/**/*.cpp

# src directory:
!src/**/*.hpp
!src/**/*.h
!src/**/*.cpp

# test directory:
!test/**/*.hpp
!test/**/*.h
!test/**/*.cpp
